<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Продукт не существует</title>
  <link rel="stylesheet" href="/css/body.css">
  <link rel="stylesheet" href="/css/main.css">
  <th:block th:insert="fragments/header.html::css"></th:block>
</head>
<body>
  <header th:replace="fragments/header.html::html"></header>
  <main>
    <div class="Failure">Извините, такого продкута не существует.</div>
    <a th:href="@{/product/admin}">Все продукты</a>
  </main>
</body>
</html>