<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link rel="stylesheet" href="/css/body.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/error.css">
</head>
<body>
  <form class="Main" method="post" action="/authentication/sign_up" th:object="${user}">
    <h1>Регистрация</h1>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <input th:field="*{name}" type="text" placeholder="Имя">
    <div class="Error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <input th:field="*{password}" type="password" placeholder="Пароль">
    <div class="Error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <input type="submit" value="Зарегистрироваться">
    <a href="/authentication/sign_in">Войти</a>
    <a href="/product">На главную</a>
  </form>
</body>
</html>